.message {
    height: 700px;
    max-height: 700px;
    overflow-y: auto;
}

.message-outline {
    padding: 20px;
    background-image: url(./../../assets/images/metallic-silver-alt.jpg);
    border-radius: 25px;
}
